ul{
    /*list-style: circle;*/
    /*list-style: square;*/

    /*list-style-image: url("right.png");*/
    list-style-type: none;
    padding: 0;
    border: 2px solid grey;
}

ul li{
    padding: 8px 16px;
    border-bottom: solid 2px grey; 
}

ol{
    /*list-style-type: upper-roman*/
    /*list-style-type: lower-alpha;*/
    list-style-type: upper-latin;
    background-color: cornflowerblue;
    padding: 15px;
}
ol li{
    background-color: coral;
    padding: 10px;
    margin-left: 30px;
}

.lista{
    border-left: 5px solid green;
    background-color: coral;
    list-style-type: 15px 25px;
    padding: 15px 25px;
    font-size: 20px;
}

.lista li{
    border-bottom: none;
}

td, th{
    border: 1px solid black;
    padding: 15px;
}

table{
    border-collapse: collapse;
}

table tr:nth-child(odd){
    background: blue;
}

table tr:nth-child(even){
    background: lightblue;
}

div{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    overflow: hidden;

}

.scroll{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /*overflow: scroll;*/
    overflow-x: none;
    overflow-y: scroll;
}

.auto{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /*overflow: scroll;*/
    overflow-x: none;
    overflow-y: auto; 
}